


#h1Title{
	font-family: Open sans;
	font-size: 185%;

}



#h3Title{
	font-family: open sans;
	font-size: 80%;
}

.wrapper{
 	position: relative;
    text-align: left;
    color: white;
    padding-top: 3%;

}

#middlecontent {
	position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);

	
}

.introBlack {
	font-family: Open sans;
	font-weight: 300;
	font-size: 300%;
	text-align: center;
	padding-top: 20px;
}



/*body {
	background-image: url(https://images.unsplash.com/photo-1526560244950-1a3c1ace48f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a009e415b35dd703927fce584881a1ee&auto=format&fit=crop&w=1654&q=80);
	background-size: cover;
	
}*/



html {
	height: 100%;
	
}


.navbar-collapse {
	color: #2c3e50;

}


.p1stat1{
	font-family: Open sans;
	font-size: 100%;
	color: black;
	
	
}
.statement1{
	padding-top: 15%;
	padding-left: 10%;
}

.statement1 span{
padding-left: 10%;

}


.h1stat1{
	font-family: Open sans;
	font-size: 200%;
	font-size: 600;
	color: #0073a3;
	padding-left: 10%;
	
}

.p1stat2{
	font-family: Open sans;
	font-size: 100%;
	color: black;
	
	
}
.statement2{
	padding-top: 20%;
	padding-left: 13%;
}

.statement2 span{
padding-left: 19%;

}


.h1stat2{
	font-family: Open sans;
	font-size: 200%;
	font-size: 600;
	color: #0073a3;
	padding-left: 10%;
	
}

.p1stat3{
	font-family: Open sans;
	font-size: 100%;
	color: black;
	
	
}
.statement3{
	padding-top: 20%;
	padding-left: 15%;
}

.statement3 span{
padding-left: 18%;

}


.h1stat3{
	font-family: Open sans;
	font-size: 200%;
	font-size: 600;
	color: #0073a3;
	padding-left: 10%;
	
}

.p1stat4{
	font-family: Open sans;
	font-size: 100%;
	color: black;
	
	
}
.statement4{
	padding-top: 20%;
	padding-left: 12%;
}

.statement4 span{
padding-left: 21%;

}


.h1stat4{
	font-family: Open sans;
	font-size: 200%;
	font-size: 600;
	color: #0073a3;
	padding-left: 10%;
	
}

.statement5{
	padding-top: 20%;
	padding-left: 5%;
}

.statement5 p{
	font-weight: 600;
	font-size:150%;
}

.why1{
	padding-left: 10%;
}


.why2{
	padding-left: 15%;
}

.interested{
	font-size: 200%;
	text-align: center;
	padding-top: 50px;
	color: #0073a3;
}

#lastButton{
	margin-left: 44%;
}




